/*MAIN CSSS */
body{
  overflow-x: hidden;
}

/*Fonts */
html, body {
  font-family: 'Raleway',sans-serif;
  color: #fff;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

/*Scroll bar*/
body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
body::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}
body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  box-shadow:inset 0 0 6px rgba(0,0,0,.3);
	background-color: #16a99d;
}
body::scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
body::scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}
body::scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #16a99d;
}
::-moz-selection {
  color: #fff;
  background-color: #16a99d;
}
::selection {
  color: #fff;
  background-color: #16a99d;
}

.scrollToTop {
  /* the button becomes visible */
  width:30px; 
	height:30px;
	padding:0px; 
	text-align:center; 
	background: #007574;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	position:fixed;
	bottom:35px;
	right:30px;
	display:none;
	border-radius: 3px;
  font-weight: bolder;
  font-size: 20px;
}

.scrollToTop:hover{
	text-decoration:none;
  color: #fff;
}

h2 {
  font-family: 'Raleway',sans-serif;
  font-weight: 500;
  text-transform: capitalize;
  text-align: center;
   font-size: 30px;
   text-shadow: 2px 3px 0px rgba(0,0,0,.15);
}
h3 {
  font-family: 'Raleway',sans-serif;
  font-weight: 400;
}

p{
  font-family: 'Raleway',sans-serif;
  font-size: 1em;
  font-weight: 500;
 }



/*Float Menu CSS Starts */
.float-nav {
  position: fixed;
  top: 60px;
  right: 20px;
  z-index:10;
}
.float-nav > a.menu-btn {
  text-decoration: none;
  display: block;
  color: white;
  padding: 17px 19px 12px 19px;
  text-align: center;
  cursor: pointer;
  
}
.float-nav > a.menu-btn.active {
  transition: background-color 2s linear;
  background-color: transparent;
  box-shadow: none;
}
.float-nav > a.menu-btn.active > ul > li.line:nth-child(1) {
  border-width: 1px;
  -moz-transform: rotate(45deg) translate(4px, 6px);
  -ms-transform: rotate(45deg) translate(4px, 6px);
  -webkit-transform: rotate(45deg) translate(4px, 6px);
  transform: rotate(45deg) translate(4px, 6px);
}
.float-nav > a.menu-btn.active > ul > li.line:nth-child(2) {
  visibility: hidden;
}
.float-nav > a.menu-btn.active > ul > li.line:nth-child(3) {
  border-width: 1px;
  -moz-transform: rotate(-45deg) translate(8px, -10px);
  -ms-transform: rotate(-45deg) translate(8px, -10px);
  -webkit-transform: rotate(-45deg) translate(8px, -10px);
  transform: rotate(-45deg) translate(8px, -10px);
}
.float-nav > a.menu-btn > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width:30px;
}
.float-nav > a.menu-btn > ul > li.line {
  border: 1px solid #20ecbe;
  width: 100%;
  margin-bottom: 7px;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.float-nav > a.menu-btn > .menu-txt {
  width: 100%;
  text-align: center;
  visibility: hidden;
}

.main-nav {
  display: none;
  opacity: 0;
  font-family: 'Raleway', sans-serif;
  position: fixed;
  top: 60px;
  right: 20px;
  transition: opacity 5s;
  z-index: 9;
  letter-spacing: 1px;
}
.main-nav.active {
  display: block;
  opacity: 1;
  transition: opacity 5s;
 }

.main-nav > ul {
  width: 100%;
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #16a99d;
  box-shadow: 2px 2px 8px #777;
  /*border-radius: 3px 3px 33.5px 3px;*/
}
.main-nav > ul > li > a {
  text-decoration: none;
  display: block;
  font-weight: 200;
  padding: 18px 50px 18px 18px;
  color: white;
}
.main-nav > ul > li > a:hover {
  font-weight: bold;
  background-color: #007574;
}
/*Float menu Ends*/


/*Introduction part CSS*/

#intro {
    margin: 0 auto;
    height:100vh;
    width: 100%;
    background: url(../imgs/sahkal.jpeg) no-repeat center 0 fixed #000;  
    position: relative;
    opacity: 1;
    z-index: 1;
}
.hi-text {
  display:inline-block;
  color:#fff;
  padding-top: 3%;
  padding-bottom:5%;
}

.hi {
    font-size: 6.5em;
    line-height: 1em;
    font-weight: 500;
    color: #20ecbe;
}

.im {
    font-size: 4em;
    line-height: 1em;
    font-weight: 500;
}
.name-text {
  max-height: 150px!important;
}

#intro  .intro-text a {
	text-decoration: none;
	color: #20ecbe;
	border-bottom: 2px dotted #20ecbe;
  font-weight: bold;
}

.intropic {
    width: 205px;
    height: 205px;
    overflow: hidden;
    border: 6px solid #fff;
    border-radius: 100px;
    -webkit-box-shadow: 17px 10px 47px -15px #fff;
    -moz-box-shadow: 17px 10px 47px -15px #fff;
    -ms-box-shadow: 17px 10px 47px -15px #fff;
    -o-box-shadow: 17px 10px 47px -15px #fff;
    box-shadow: 17px 10px 47px -15px #fff;
    -webkit-transition: all .2s ease-in-out;
    transition:all .2s ease-in-out;
    margin: auto;
}

h5 {
    text-align: center;
    font-weight: 700;
}

#particle-slider {
    text-align: center;
}

.intro-text p{
    width: 81%;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 28px;
    line-height: 37px;
    font-weight: 400;
    text-align: center;
    text-shadow: none;
}

.mob-desc-effect {
  padding-top: 5%;
}



 .scroll-btn {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
  bottom: 0;
}
.scroll-btn  {
	display: inline-block;
	line-height: 18px;
	font-size: 12px;
	font-weight: normal;
	color: #7f8c8d;
	color: #ffffff;
	letter-spacing: 2px;
}

/* fadein */
.fadein{
-webkit-animation: fadein 12s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 12s; /* Firefox < 16 */
        -ms-animation: fadein 12s; /* Internet Explorer */
         -o-animation: fadein 12s; /* Opera < 112.1 */
            animation: fadein 12s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.scroll-btn .mouse {
	position: relative;
	display: block;
	width: 25px;
	height: 40px;
	margin: 0 auto 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 3px solid #fff;
	border-radius: 23px;
}
.scroll-btn .mouse > * {
	position: absolute;
	display: block;
	top: 29%;
	left: 50%;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
	background: white;
	border-radius: 50%;
	-webkit-animation: ani-mouse 2.5s linear infinite;
	-moz-animation: ani-mouse 2.5s linear infinite;
	animation: ani-mouse 2.5s linear infinite;
}
/*button */


@-webkit-keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
@-moz-keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
@keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
/*Introduction part CSS*/



/*Skills CSS Starts*/

#skills {
min-height:100vh;
/*max-width: 100vw;*/
background-color: #e4f4f3;
position: relative;
overflow: hidden;
box-shadow: 0 -5px 10px rgba(0,0,0,.1);
}

#skills h2 {
  color: #01a093;
}

.skill-circle ul {
    position: relative;
    width: 90%;
    display: block;
}

.skill-circle ul li {
    width: 250px;
    height: 250px;
    list-style: none;
    position: absolute;
    display: block;
    text-align: center;
    margin-left: 100px;
}
#tech-skill {
    
   left: -60px;
    top: 146px;
}
#soft-skill {
  
      top: 25px;
    left: 106px;
}
#my-interests {
  
    top: 233px;
    left: 133px;
}
.skill-circle  span {
  color: white;
  font-size: 1.8em;
  display: inline-block;
  padding-top: 100px;
  text-align: center;
}

.head-contain {
  padding-bottom: 10px;
  text-shadow: 2px 3px 0px rgba(0,0,0,.15);
}

.head-contain h3 {
  color: #212121;
}

.skill-list ul{
    font-size: 1.4375em;
    color: #212121;
    display: inline;
    clear: both;
    list-style: none;
    padding:0;
}
.skill-list ul li {
    margin-bottom: 12px;
    text-transform: capitalize;
}
#left-skill {
  float: left; 
}
#right-skill {
  float: right;
  text-align: right;
}
#skills a {
text-decoration:none;
color:#333;
}
/* Skills CSS Ends */


/* ABOUT CSS */
#about {
  background: linear-gradient(to bottom right, #41b7ae 0, #2cb0a6 35%, #16a99d 75%, #007574 100%);
  box-shadow: 0 -5px 10px rgba(0,0,0,.1);
  position: relative;
}

#about h2 {
margin-bottom: 50px;
}

#about img {
      max-width: 100%;
  }

 #about .cd-timeline-content h3{
  font-family: 'Raleway',sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #444;
 } 
#about .cd-timeline-content h4{
  font-family: 'Raleway',sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #888;
  font-style: italic;
 }

 #about .cd-timeline-content p{
  font-family: 'Raleway',sans-serif;
  font-size: 1.1em;
  font-weight: 500;
  color: #333333;
  margin: 1em 0;
  line-height: 1.6;
  letter-spacing: 1px;
  text-align: justify;
 }



#cd-timeline {
  position: relative;
  margin-bottom: 2em;
}
#cd-timeline::before {
  content: '';
  position: absolute;
  top: 30px;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
  display: block;
  bottom:80px;

}
@media only screen and (min-width: 1170px) {
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}
.cd-timeline-img i {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
  color: white;
  font-size: 1.8em;
}
.cd-timeline-img.cd-picture {
  background: #007574;
}
.cd-timeline-img.cd-movie {
  background: #007574;
}
.cd-timeline-img.cd-location {
  background: #007574;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 3px 3px 3px #005f63;
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: #303e49;
}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  display: inline-block;
}

.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb;
}
.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
}
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}
@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .cd-timeline-content .cd-read-more {
    float: left;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 30px;
    font-size: 2rem;
    font-family: 'Raleway',sans-serif;
    color: #fff;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}


/* Works CSS Starts */

#works{
  background: #fff;
  box-shadow: 0 -5px 10px rgba(0,0,0,.1);     
  position: relative;
  min-height: 100vh;
  padding:10px 0 140px 0;
  
}
#works h2{
  color:#01a093;
}

#works .row > div { margin: 0px; padding:15px}
#works figure 
{ position: relative; overflow: hidden; box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.25);
transition: box-shadow 0.5s ease;
 }

#works figure:hover  {
  box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2);
  border: none;
}

#works figure:focus{
  box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2);
  border: none;
}

#works figure h3 
{ color: #fff; font-weight: 600; margin-bottom: 5px;text-transform: lowercase; }
#works figure p > strong 
{ width: 60px; display: inline-block; margin: 0px; }
#works figure img 
{ width: 110%; }
#works figure figcaption {
    padding: 20px 30px;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}
#works figure a {
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}
#works figcaption ul {
  text-align: center;
  margin: 0;
  padding: 0;
}

figure.effect {
  background: linear-gradient(to bottom right, #41b7ae 0, #2cb0a6 35%, #16a99d 75%, #007574 100%);
	color: #FFF;
}

figure.effect img {
	width: -webkit-calc(100% + 20px);
	width: calc(100% + 20px);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-10px,0,0);
	transform: translate3d(-10px,0,0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect:hover img{
	opacity: 0;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect:focus img{
	opacity: 0;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect figcaption {
	text-align: left;
}

figure.effect h3 {
	position: relative;
	overflow: hidden;
	padding-bottom: 20px;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect:hover h3 {
	opacity: 1;
}

figure.effect:focus h3 {
	opacity: 1;
}

figure.effect h3::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}

figure.effect:hover h3::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
figure.effect:focus h3::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect p {
	padding-top: 10px;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
  color: #fff;
  margin: 1em 0;
  line-height: 1.6;
  letter-spacing: 0.5px;
  text-align: justify;
  text-transform: capitalize;
}

figure.effect:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
figure.effect:focus p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
figure.effect li {
    list-style: none;
    display: inline-block;
    padding: 2pt 3pt;
    margin: 0 4pt 3pt 0;
    border-radius: 3pt;
    background: #20ecbe;
    font-size: 1.1em;
    opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
  color: #005f63;
     text-transform: uppercase;
    letter-spacing: 0.5px;
}

figure.effect:hover li {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
figure.effect:focus li {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/* Contact Css Starts */
#contact{
  background: #01a093;
  background: linear-gradient(to bottom right, #41b7ae 0, #2cb0a6 35%, #16a99d 75%, #007574 100%);
  box-shadow: 0 -5px 10px rgba(0,0,0,.1);
  position: relative;
  text-align: center;
  padding: 0px 0 0px 0;
  color: #fff;
  overflow-x: hidden;
}

#contact h2 {
  color:#fff;
  padding-bottom:80px;
  }

#contact div a {
  color: #fff;
  text-align: center;
  font-size: 1.5em;
  transition: all 0.2s ease-in;
  display: inline-block;
  font-weight: 500;
}

#contact div a:hover {
  color: #fff;
  text-decoration: none;
  transform: scale(1.1);
}
.social-icons {
  padding-top: 100px;
  padding-bottom: 50px;
}
.social-icons a i{
    font-size: 24px;
    border: 2px solid #fff;
    display: inline-block; 
    width: 55px;
    height: 55px;
    line-height: 55px;
    margin: 0 5px;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    color: #fff;
}
.social-icons a i:hover{
    background-color: #fff;
    color: #01a093;
    text-decoration: none;
}
small{
  padding-top: 50px;
}

/* Contact CSS Ends */

/*STANDARD MEDIA QUERY IMPLEMENTATION*/
@media only screen and (min-width : 320px) and (max-width: 480px){
    .scroll-btn p {
      display: none;
    }

    #particle-slider{
      display: none;
    }
    #intro .mobile-name-eff h2{
      color: #20ecbe;
      text-align: center;
      font-weight: bold;
      font-size: 14vw;
      padding-bottom: 1vh;
    }
    #intro p {
      font-size: 3.5vh;

    }
    #intro .mob-desc-effect {
      margin-top: 0px;
      margin-bottom:0px;
      padding:0px;
    }
    .hi-text {
        font-size: 8px;
        padding-top: 8vh;
        padding-bottom: 0;
    }

    .float-nav {
      top: 10px;
      right: 10px;
    }

    .main-nav{
      top: 10px;
      right: 10px;
    }

    #left-skill {
      text-align: center;
      float: none;
    }

    #right-skill {
      text-align: center;
      float: none;
      
    }
    .skill-list {
      border-bottom: 1px solid #006b6c;
    }
    .legend {
      margin-top: 0px;
    }
    #works figure figcaption {
      padding-top:0px;
    }
    figure.effect li {
      margin-right: 0px;
    }

    #tech-skill {
      top: -380px;
      left: 136px;    }

    #soft-skill {
      top: 0px;
      left: -101px;
    }

    .skill-circle ul li {
      width: 100px;
      height: 100px;
    }
    .skill-circle  span {
      font-size: 0.8em;
      padding-top: 44%;
    }

    #contact h2 {
      padding-bottom: 50px;
    }
    #contact div a {
      padding-bottom: 10px;
    }
    .social-icons {
      padding-top: 50px;
    }

}

@media only screen and (min-width : 481px) and (max-width: 767px){
    .scroll-btn p {
      display: none;
    }

    .intro-text p{
      line-height: 25px;
    }
    .scroll-btn{
      bottom: -15px;
    }

    #particle-slider{
      display: none;
    }
    #intro .mobile-name-eff h2{
      color: #20ecbe;
      text-align: center;
      font-weight: bold;
      font-size: 10vw;
      padding-bottom: 1vh;
    }
    #intro p {
      font-size: 5vh;

    }
    #intro .mob-desc-effect {
      margin-top: 0px;
      margin-bottom:0px;
      padding:0px;
    }
    .hi-text {
        font-size: 8px;
        padding-top: 8vh;
        padding-bottom: 0;
        padding-left: 15%;
    }

    .float-nav {
      top: 10px;
      right: 10px;
    }

    .main-nav{
      top: 10px;
      right: 10px;
    }
    .legend {
      margin-top: 0px;
    }
    #works figure figcaption {
      padding-top:0px;
    }
    figure.effect li {
      margin-right: 0px;
    }

  }

@media only screen and (min-width: 768px) and (max-width: 1200px){
    /*#intro{  
      margin-top: -80px;
    }*/
    #particle-slider{
      text-align: center;
      margin-left: 5%;
      margin-right: 5%;
      padding-top: 8vh
    }
    .mob-desc-effect {
      padding-top:10%;
    }
    #intro p {
      font-size: 4vh;
      width: 81%;
      margin-right: auto;
      margin-left: auto;
      font-family: 'Raleway', sans-serif;
      color: white;
      line-height: 7vh;
      font-weight: 400;
      text-align: center;
      text-shadow: none;

    }
}


@media (min-width:1000px) {
  .order {
 
  -webkit-animation: bounce .6s infinite alternate;
  -moz-animation: bounce .6s infinite alternate;
  animation: bounce .6s infinite alternate;
}
@-webkit-keyframes bounce {
  to { -webkit-transform: scale(1.4); }
}
@-moz-keyframes bounce {
  to { -moz-transform: scale(1.4); }
}
@keyframes bounce {
  to { transform: scale(1.4); }
}

  }



/*MEDIA QUERY IMPLEMENTATION ENDS*/
