

.icon-block {
  padding: 0px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.carousel .carousel-item {

width:400px !important;}

}
@media (max-width: 767px) { 
    .sidenav{
        display:none;
    }
}